#id-carousel-slide2 { /*Só para o slide2 do carrossel*/
    margin-left: 300px;
    margin-bottom: 30px;
}

#id-carousel-slide3 { /*Só para o slide2 do carrossel*/
    margin-right: 300px;
    margin-bottom: 30px;
}



